html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
    font: inherit;
}

del, ins {
    text-decoration: none;
}

ul>li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: top;
}

sub {
    vertical-align: bottom;
}

/*because legend doesn't inherit in IE */

legend {
    color: #000;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    *overflow: visible;
}

strong, b {
    font-weight: bold;
}

em {
    font-style: italic;
}

section, nav, aside, article, header, footer {
    display: block;
}

#app {
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    min-height: 608px;
    min-width: 1000px;
}

.wrap .left {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #fff;
    position: relative;
    min-width: 500px;
}

.wrap .left .logo {
    height: 20px;
    width: 97px;
    margin: 30px 0 0 40px;
}

.wrap .right {
    width: auto;
    height: 100%;
    /* background-color: blue;  */
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(#bac7da, #ebeff4, #fefcf8);
}

.wrap .right img {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    max-height: 760px;
}

.iframe {
    width: 420px;
    height: 384px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: absolute;
    top: 20%;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
}

.wrap .left .footer {
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(136, 136, 136, 1);
    line-height: 19px;
    width: 302px;
    height: 38px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.wrap .right .header {
    text-align: center;
    padding: 72px 0 10px;
    border-bottom: 1px dashed;
}

.wrap .right .applyUse {
    width: 140px;
    height: 42px;
    background: rgba(238, 34, 35, 1);
    border-radius: 3px;
    color: #fff;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.wrap .right .header span {
    font-size: 40px;
    font-family: AlibabaPuHuiTi-Medium, AlibabaPuHuiTi;
    font-weight: bold;
    color: rgba(64, 73, 89, 1);
    line-height: 55px;
}

.wrap .right .header p {
    font-size: 24px;
    font-family: AlibabaPuHuiTi-Regular, AlibabaPuHuiTi;
    font-weight: 400;
    color: rgba(106, 123, 153, 1);
    line-height: 33px;
    letter-spacing: 12px;
}